@import "./colors.css";
@import "./login.css";
@import "./navBar.css";
@import"./dashboard.css";
@import "./media.css";


* {
  font-family: Arial, sans-serif;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  background-color: var(--color-primary);
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 15%;
  height: 15%;
  border-radius: 100%;
}

/* Logout button styles */
.logout-button {
  background-color: var( --color-primary-dark);
  color: white;
  border-radius: 6pt;
  margin: 10pt;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
